In [1]:
# 필요할 경우 설치
"""
pip install matplotlib
pip install seaborn
pip scikit-learn
"""

'\npip install matplotlib\npip install seaborn\npip scikit-learn\n'

In [3]:
# 필용한 라이브러리 호출

import torch
import torch.nn as nn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
#데이터 호출

dataset = pd.read_csv('car_evaluation.csv')
dataset.head()

   price  maint doors persons lug_capacity safety output
0  vhigh  vhigh     2       2        small    low  unacc
1  vhigh  vhigh     2       2        small    med  unacc
2  vhigh  vhigh     2       2        small   high  unacc
3  vhigh  vhigh     2       2          med    low  unacc
4  vhigh  vhigh     2       2          med    med  unacc

In [ ]:
# 데이터 시각화

fig_size = plt.rcParams["figure.figsize"]
fig_size[0] = 8
fig_size{1] = 6
plt.rcParams["figure.figsize"] = fig_size
dataset.output